:root{
  --wdth:clamp(350px,50%,70%);
  --cd:#f5f1ed;
  --cd2:#ef8354;
}

.App {
  text-align: center;
  box-sizing:border-box;
  padding: 0;
  
}
.App-main{
  
  margin: auto;
  width: var(--wdth);
 height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color:var(--cd) ;
  border: 3px solid var(--cd);

 
}
.num{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 20%;
  font-size: larger;
  background-color: #19647e;
  color: white;
  border: 1px solid black;
}

.num:hover, .oper:hover, #clear:hover{
  background-color: var(--cd);
  color: black;
}

.oper{
  
  width: 100%;
  height: 14.3%;
  font-size: larger;
  background-color: var(--cd2);
  border: 1px solid black;
}
#numbers{
  grid-column: 1/ span 2;
 
}
#head{
  height: 4rem;
  width: var(--wdth);
  margin:auto;
  background-color: var(--cd);
  border: 3px solid var(--cd);
}
#smallDisplay{
  display: block;
  height: 40%;
  color: var(--cd2);
  width: 100%;
  margin: 0;
  padding: 0;

}
#display{
  margin: 0;
  padding:0;
}
#clear{
  background-color: rgb(185, 32, 32);;
  color: var(--cd);
}

h1{
  font-weight: 800;
  font-family:Tahoma;
}




